{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "browser": true
  },
  "extends": "standard",
  "plugins": [
    "import"
  ],
  "globals": {
    "coordinator": true,
    "windows": true
  }
}
